.button-base {
  border-radius: 4px;
  padding: var(--space-s);

  background-color: var(--bg-color);
  color: var(--text-color);

  &:disabled {
    background-color: var(--button-bg-disabled);
    cursor: not-allowed;
  }
}
