.issues {
  margin-top: var(--space-l);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .error-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: var(--space-xl) 0;

    .error-text {
      color: var(--text-danger);
      font-weight: bold;
    }

    .refetch-btn {
      margin-top: var(--space-l);
    }
  }

  .loader-container {
    position: fixed;
    height: 100vh;
    width: 100vw;

    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, .5);
  }
}
