:root {
  --bg-primary: #331D2C;
  --bg-secondary: #3F2E3E;
  --bg-danger: #CF6679;

  --text-primary: #EFE1D1;
  --text-secondary: #A78295;
  --text-danger: #CF6679;
  --text-link: #FFA500;

  --button-bg-primary: #133e7c;
  --button-bg-secondary: #0abdc6;
  --button-text-primary: var(--text-primary);
  --button-text-secondary: var(--text-primary);
  --button-bg-disabled: #666;

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 36px;

  --font-size-xxs: 8px;
  --font-size-xs: 10px;
  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 28px;

  font-family: Inter;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  height: 100vh;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
  color: var(--text-primary);
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;

  text-transform: none;
  text-align: inherit;
  overflow: visible;
  -webkit-appearance: button;
  &:hover {
    cursor: pointer;
  }
}
